h1 {
  font-family: "Xanh Mono";
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0;
  background-color: gold;
}
html {
  background-color: antiquewhite;
  text-align: center;